


<style>
    .HomeArea {
        float: left;
    }
    
</style>

<script>
    const toInt = (num) => parseInt(num, 10);
    const updateScore = (trigger, side) => {
        const obj = document.getElementById(trigger);
        obj.addEventListener('input', ()=> {
            const sideGoals = side+"Goals";
            const sideBehinds = side+"Behinds";
            const sideScore = side+"Score";

            document.getElementById(sideScore).innerHTML = 6*toInt(document.getElementById(sideGoals).value) + toInt(document.getElementById(sideBehinds).value);
        })
    }

    window.onload = () =>{
        updateScore("homeBehinds", "home");
        updateScore("homeGoals", "home");
        updateScore("awayBehinds", "away");
        updateScore("awayGoals", "away");
    }
</script>

<body>

    <h1>admin page</h1>
    <form action='/game/{{gameId}}/admin' method="post">
        <div class="HomeArea">
            <h2>HOME</h2>
            
                Behinds
                <input type='number' size='3' id="homeBehinds" name="homeBehinds" value="{{homeBehinds}}" min="{{homeBehinds}}"/>
                Goals
                <input type='number' size='3' id="homeGoals" name="homeGoals" value='{{homeGoals}}' min='{{homeGoals}}'/>
                <text id="homeScore">{{homeTotal}}</text>
        </div>
        
        <div class= "AwayArea" >
            <h2>AWAY</h2>
            Behinds
            <input type='number' size='3' id="awayBehinds" name="awayBehinds" value='{{awayBehinds}}' min='{{awayBehinds}}'/>
            Goals
            <input type='number' size='3' id="awayGoals" name="awayGoals" value='{{awayGoals}}' min='{{awayGoals}}'/>
            Total <text id="awayScore">{{awayTotal}}</text>
            <input type="submit" value="Submit">
        </div>
    </form>
</body>
