<body>
    <h2>make a scoreboard for your game:</h2>
    <form action='/' method="post">
        Home team name: <input name="home"/>
        Away team name: <input name="away"/>
        <!-- Date of game: <input type="date" name="gameDay" value="{{todayDate}}"> -->
        <input type="submit" value="Submit">
    </form>
</body>